* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/* Utility classes */
.d-flex {
    display: flex;
}
.center {
    justify-content: center;
    align-items: center;
}
.underline {
    text-decoration: underline;
}
.pr-20 {
    padding-right: 20px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-20 {
    margin-right: 20px;
}
.ml-10 {
    margin-left: 10px;
}
.h3-cont { 
    margin-top: 50px;
    height: 60px;
    justify-content: center;
}
.h3-sect {
    height: 50px;
    width: 800px;
    font-size: 23px;
    align-items: center;
    color: #2a2f33;
    margin: 8px 0px;
}
.h3-sect:before, .h3-sect:after {
    content: "";
    flex-grow: 1;
    background: #ececec;
    height: 2px;
    margin: 0px 8px;
}
.h3-p {
    font-size: 12px;
    color: #2f3034;
    justify-content: center;
}
.line-scount {
    text-decoration-line: line-through;
}

nav {
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    border-top: 3px solid #427ed5;
    border-bottom: 2px solid #ececec;
}
#top-nav {
    height: 47px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #ececec;
}
#social-icons-nav i {
    font-size: 18px;
    color: #64686c;
}
#social-icons-nav i:hover {
    color: #a0a5a5;
}
#cart-account {
    height: 100%;
    color: #a0a5a5;
    font-size: 12px;
}
#shopping-cart, #account {
    width: 120px;
    height: 100%;
    border-right: 2px solid #ececec;
}
#cart {
    width: 200px;
    height: 100%;
    color: #2f3034;
    background-color: #f7f7f7;
    font-size: 14px;
}
#cart:hover {
    color: #a0a5a5;
}
#bottom-nav {
    height: calc(100% - 47px);
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
#logo-nav {
    padding-left: 60px;
}
#menu-nav {
    height: 100%;
    color: #a0a5a5;
    font-size: 12px;
}
#menu-nav ul {
    width: 750px;
    height: 100%;
    list-style-type: none;
}
#menu-nav ul li {
    flex-basis: auto;
    height: 100%;
}
#menu-nav ul li:first-child {
    color: #427ed5;
    border-top: 2px solid #427ed5;
}
#shop-now {
    width: 140px;
    padding: 10px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #427ed5;
    font-size: 15px;
}
#shop-now:hover {
    background-color: #a2bfe3;
}
.fa-search {
    color: #2f3034;
    font-size: 15px;
}
#jumbo-area {
    height: 500px;
    background-image: url(./imgs/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #ffffff;
}
#jumbo-txt {
    line-height: 4rem;
}
#jumbo-area h1 {
    font-size: 50px;
}
#jumbo-area p {
    font-size: 15px;
    text-align: center;
}
#jumbo-buttons {
    justify-content: center;
}
#jumbo-buttons button {
    color: white;
    background-color: transparent;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border-color: #ffffff;
    font-size: 11px;
}
#featured-products, #best-seller {
    height: 100%;
}
#select-products {
    margin-top: 60px;
    justify-content: center;
}
#select-products ul {
    list-style-type: none;
}
#select-products ul li {
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #2a2f33;
}
#select-products ul li:first-child {
    background-color: #ffffff;
}
#select-products ul li:hover {
    background-color: #ffffff;
}
#men {
    width: 80px;
    border: 2px solid #ececec;
}
#women, #accessories {
    background-color: #f7f7f7;
    width: 100px;
    border-top: 2px solid #ececec;
    border-bottom: 2px solid #ececec;
    border-right: 2px solid #ececec;
}
#accessories {
    width: 120px;  
}
#featured-cards {
    margin-top: 35px;
    justify-content: center;
    line-height: 1.5rem;
}
.card-medium {
    width: 200px;
    height: 350px;
}
.card-medium:hover {
   transform: scale(1.2);
}
.medium-img {
    width: 100%;
}
.featured-h5 {
    font-size: 15px;
}
.featured-p {
    font-size: 12px;
}
.featured-price {
    color: #427ed5;
    font-size: 13px;
}
#price1 {
    position: relative;
}
#price1 hr {
    width: 30px;
    position: absolute;
    top: 11px;
    left: 0;
}
#price1 span {
    padding-right: 7px;
}
#bg-cards {
    margin-top: 100px;
    color: #ffffff;
}
.bg-card {
    width: 450px;
    height: 450px;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: center;
}
#bg-card1 {
    background-image: url(./imgs/winter_collection_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#bg-card2 {
    background-image: url(./imgs/spring_collection_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#bg-card3 {
    background-image: url(./imgs/autumn_collection_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.bg-card-txt {
    margin-bottom: 60px;
    line-height: 2.6rem;
    text-align: center;   
}
.bg-card-txt h3 {
    font-size: 30px;
}
.bg-card-txt p {
    font-size: 15px;
}
.bg-card-txt button {
    color: white;
    background-color: transparent;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border-color: #ffffff;
    font-size: 11px;
}
#selection-imgs {
    margin-top: 50px;
    color: #ffffff;
}
.selection-img-card {
    width: 150px;
    height: 250px;
}
.selection-img-card:hover {
   transform: scale(1.2);
}
.sel-img {
    width: 100%;
}
.angle-cont {
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 15px;
    background-color: grey;
}
.fa-angle-left, .fa-angle-right {
    font-size: 10px;
    color: #ffffff;
}
#discount-delivery {
    margin-top: 70px;
    height: 350px;
    background-image: url(./imgs/bg-conf.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.maxi-bg-card {
    width: 500px;
    height: 280px;
    align-items: center;
}
#maxi-bg-card1 {
    background-image: url(./imgs/promo1_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 50px;
}
#maxi-bg-card2 {
    background-image: url(./imgs/promo2_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.maxi-card-txt {
    width: 200px;
    line-height: 2rem;
    color: #ffffff;
    margin-left: 60px;  
}
.maxi-card-txt h3 {
    font-size: 30px;
}
.maxi-card-txt p {
    font-size: 13px;
}
.maxi-card-txt button {
    color: white;
    background-color: transparent;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border-color: #ffffff;
    font-size: 11px;
    margin-top: 10px;
}
#maxi-selection-imgs {
    margin-top: 50px;
    color: #ffffff;
}
.maxi-selection-img-card {
    width: 263px;
    height: 350px;
}
.maxi-selection-img-card:hover {
   transform: scale(1.2);
}
#testimonial {
    margin-top: 70px;
    height: 400px;
    background-image: url(./imgs/testimonials1-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#testimonial-card {
    width: 570px;
    height: 280px;
    text-align: center;
    line-height: 2rem;
    color: #ffffff;
    font-size: 13px;
}
.full-circle {
    padding-right: 10px;
}
#blog-cards {
    margin-top: 40px;
    height: 400px;
}
.blog-card {
    width: 260px;
    height: 350px;
}
.blog-img {
    width: 100%;
}
.blog-h5 {
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.blog-p {
    font-size: 12px;
    line-height: 1.2rem;
    padding-bottom: 8px;
}
#lists {
    height: 500px;
    border-top: 2px solid #ececec;
}
.list {
    margin-top: 40px;
    list-style-type: none;
}
.title-li {
    height: 60px;
    width: 220px;
    align-items: center;
    font-size: 13px;
}
.spec-li {
    width: 220px;
    height: 100px;
    border-bottom: 2px solid #ececec;
    position: relative;
}
.spec-li-img {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 60px;
    height: 70px;
}
.spec-li-txt {
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 13px;
    line-height: 1.5rem;
    color: #2f3034;
}
.fa-star {
    color: #427ed5;
    font-size: 13px;
}
.price-li {
    color: #2a2f33;
}
.price-li span {
    padding-right: 7px;
}
#boots {
    height: 60px;
}
#logos-container {
    margin-top: 30px;
    height: 250px;
    background-color: #f1f0f0;
    position: relative;
}
#logos-p {
    position: absolute;
    top: 5%;
    left: 44%;
    color: #2a2f33;
    font-size: 15px;
}
#brand-logos {
    position: absolute;
    bottom: 0;
    left: 14%;
    list-style-type: none;
}
.logo-card {
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}
#subscribe-area {
    height: 150px;
    background-color: #3d3d3d;
}
#sub-part1 {
    margin-right: 80px;
}
.fa-envelope {
    color: rgb(185, 185, 185);
    background-color: #2a2f33;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 20px;
}
#subscribe-txt {
    color: #ffffff;
    font-size: 23px;
}
#email-input {
    width: 240px;
    padding: 8px;
    border-radius: 50px;
    font-size: 13px;
}
#send {
    width: 140px;
    padding: 8px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #427ed5;
    font-size: 15px;
}
#send:hover {
    background-color: #a2bfe3;
}
#main-footer {
    height: 450px;
    background-color: rgb(43, 46, 50);
}
#footer-logo {
    width: 150px;
    height: 80px;
}
#social-txt {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 13px;
    line-height: 1.6rem;
}
#social-footer i {
    color: #ffffff;
    font-size: 14px;
}
#footer-col1 {
    margin-right: 80px;
}
#footer-col2 {
    color: #ffffff;
}
#cont-col2 {
    height: 100px;
    width: 250px;
    border-bottom: 1px solid #757272;
    position: relative;
}
#cont-col2 img {
    height: 70px;
    width: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#footer-col2 h5 {
    font-size: 14px;
    margin-bottom: 15px;
}
.col2-txt {
    font-size: 13px;
    line-height: 1.8rem;
}
#footer-col3 {
    color: #ffffff;
}
#cont-col3 {
    height: 50px;
    width: 250px;
    border-bottom: 1px solid #757272;
    position: relative;
}
#footer-col3 h5 {
    font-size: 14px;
    margin-bottom: 15px;
}
#col3-txt {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 13px;
}
#footer-col4 {
    height: 330px;
    color: #ffffff;
}
#cont-col4 {
    height: 36px;
    width: 250px;
}
#footer-col4 h5 {
    font-size: 14px;
    margin-bottom: 35px;
}
#col4-txt a {
    font-size: 13px;
    height: 30px;
    min-width: 100%;
    border: 1px solid #757272;
    margin: 2px;
    padding: 3px;
}
#bottom-footer {
    height: 130px;
    background-color: #1b1e20;
}
#cont-bottom-footer {
    position: relative;
}
#copyright {
    color: #ffffff;
    font-size: 13px;
    margin-bottom: 20px;
}
#cont-bottom-footer img {
    position: absolute;
    left: 25%;
}